.text-center{
    text-align: center;
}

.text-upper{
    text-transform: uppercase;
}

#main-content{
    min-height: 100vh;
    border: 1px solid #393939;
}

footer p {
    padding: 5px;
}
.align-item-center{
    align-items: center;
}
td{
    border: 1px solid white;
}

div.fact-tile{
    min-height: 6rem;
}
